.home,
.homeLoading {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.homeLoading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navTop {
    height: 15%;
    border: 1px solid;
    margin: 10px;
    border-radius: 5px;
}
.navTop div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}
.navTop div p {
    width: 25%;
    text-align: center;
}
.navTop div button:nth-child(2) {
    margin-left: 20%;
}
.navTop div button:nth-child(4) {
    margin-right: 20%;
}
.btnControl {
    width: 60px;
    height: 60px;
}
.body {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnContainer {
    height: 60%;
}
